<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="logo" th:fragment="logo">
  <img src="/logo.png">
</div>

<div id="menu" th:fragment="menu">
  <a href="#" th:href="@{/index}">Main</a>
  <a href="#" th:href="@{/summarize}">Summarize</a>
  <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/login}">Login</a>
  <a sec:authorize="isAuthenticated()" href="#" th:href="@{/logout}">Logout</a>
  <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/register}">Register</a>
</div>

</body>
</html>