<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <form action="#" method="post" th:action="@{/login}" th:object="${user}">
        <a th:errors="*{username}" class="error">Username error</a>
        <a th:if="${wrongCredentials == true}">Wrong credentials</a>
        <label>
            <input type="text" placeholder="username" name="username">
        </label>
        <a th:errors="*{password}" class="error">Password error</a>
        <label>
            <input type="password" placeholder="password" name="password">
        </label>
        <label>
            <input type="submit" value="Login">
        </label>
    </form>
</div>

</body>
</html>