<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/files/main.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <form action="#" method="post" th:action="@{/register}" th:object="${user}">
        <label>
            <input type="text" placeholder="First Name" name="firstName" th:field="*{firstName}">
        </label>
        <label>
            <input type="text" placeholder="Last Name" name="lastName" th:field="*{lastName}">
        </label>
        <a th:errors="*{email}">Email errors</a>
        <a th:if="${userExist}">User with this email exist</a>
        <label>
            <input type="email" placeholder="Email" name="email" th:field="*{email}">
        </label>
        <a th:errors="*{password}">Password errors</a>
        <label>
            <input type="password" placeholder="Password" name="password" th:field="*{password}">
        </label>
        <input type="submit" value="Register" />
    </form>
</div>

</body>
</html>